Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
.klive
.dropbox.cache

*.tmp
*.bak
*.swp
*.lnk

.svn
.idea

node_modules/
bower_components/
npm-debug.log

*.zip
*.gz

*.psd
notes/*/*.md
!notes/chapter-0/*.md
!notes/chapter-1/*.md
!notes/chapter-2/*.md
!notes/chapter-3/*.md
!notes/chapter-4/*.md
!notes/*/501.md
!notes/*/502.md
!notes/*/503.md
!notes/*/505.md
!notes/*/506.md
