Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
.klive
.dropbox.cache

*.tmp
*.bak
*.swp
*.lnk

.svn
.idea

node_modules/
bower_components/
npm-debug.log

*.zip
*.gz

*.psd
notes/*/*.md
!notes/*/040.md
!notes/*/043.md
!notes/*/102.md
!notes/*/201.md
!notes/*/204.md
!notes/*/205.md
